.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}

.item .title {
    font-weight: 800;
}
.item .desc {
    color: #999;
}
.item .price {
    color: brown;
}