.total {
    padding: 0.2rem;
    font-size: 0.2rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.action{
    text-align: right;
}
.action button + button {
    margin-left: 0.1rem;
}