.headBox {
    height: 0.8rem;
    background-color: brown;
    color: #fff;
}
.headBox .innerBox {
    max-width: 9.8rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}